{% extends 'base.html.twig' %}

{# parent () permet de récuperer ce que contient le bloc de la base #}
{% block title %}{{ parent() }} | Home {% endblock %}

{# si je rédefinis le contenu, j'ecrase le contenu present dans la base #}
{% block body %}
    {# {{ muestra exactamente el valor de la variable pero no executa el codigo, una proteccion de symfony}} #}
<h1> Welcome to Series {{ name }} !</h1>

    {# désactiver la protection XSS #}
    <div>{{ name | raw }}</div>

    {# supprime completement le code html #}
    <div>{{ name | striptags }}</div>

    <h2>Serie's detail</h2>
    <ul>
    {%  for key, val in serie %}
    <li>{{ key }} : {{ val }}</li>
    {% endfor %}
    </ul>
{% endblock %}