{% extends 'base.html.twig' %}

{% block body %}
    <h2>Test N°2</h2>

    {# création de variable #}
    {% set name = "Lucas" %}
    {# ~ est le symbol de concatenation #}
    <h2>Hello {{ name }} {{ name }}</h2>
    <h2>Hello {{ name ~ " " ~name }}</h2>

    {# création d'un tableau #}

    {% set colors = ['red','purple', 'green', 'yellow'] %}

    {# boucler sur un tableau #}
    {% for color in colors %}
        <div style="background-color: {{ color }}">{{ color | capitalize }}</div>
        {# usage de loop variable crée par for #}
        {% if loop.first %}
            <div>Premier interation</div>
        {% endif %}
        {# index d'élément #}
        <div>index de l'élément courant :{{ loop.index }} / {{ loop.length }}</div>
        {% if loop.last %}
            <div>Derniere iteration</div>
        {% endif %}
        {# si tableau est vide alors on passe dans le else #}
    {% else %}
        <div>Pas d'elements</div>
    {% endfor %}


    {# manipulation d'objet #}

    {% set serie =
        {
            title : "LOTR",
            year : 2022,
            platform : "Amazon"
        } %}

    <h2>Titre de la série : {{ serie.title }}</h2>
    {# boucler sur un objet #}
    {% for key, val in serie %}
        <div>{{ key }} : {{ val }}</div>
    {% endfor %}

    {# les filtres #}

    <div>{{ name | upper | lower | capitalize }} : {{ name | length }} lettres</div>
    <div>{{ colors  | join("-") }}</div>

    <div>{{ "now" | date('d-m-Y') }}</div>
{% endblock %}

{% block title %}{{ parent() }} | Test{% endblock %}
