{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Add
{% endblock %}

{% block body %}
    <h2>Add New Serie</h2>

    {# déclenche l'affiche du formulaire #}
    {# en une seul line #}
    {# {{ form(serieForm) }}#}

    {{ form_start(serieForm) }}
    {{ form_widget(serieForm) }}
    <button>Submit</button>
    {{ form_end(serieForm) }}


{% endblock %}